 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body {

    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
 }

 .container {
    max-width: 1440px;
    margin: 0 auto;
 }

 .primary-btn {
    background-color: #FF900E;
    padding: 20px 15px;
    border-radius: 8px;
    border: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: #FFFFFF;

 }
 /* header section */

 .header-section {
    background-color: #FFF4E7;
 }
 .navbar {
    display:flex;
    gap: 20px;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
 }

 .navbar ul {
    text-align: center;
 
 }

 .navbar li  {
    list-style: none;
    display: inline;
    margin: 20px;

 }
 .navbar li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: #424242;
 }

 .navbar h1 {
    font-size: 2.8rem;
    font-weight: bold;
    color: #131313;
 }

 /* hero-section */
 .hero-section {
    padding: 50px 0px;
    background-color: #FFF4E7;
 }
 .hero-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 60px 0px;
 }
 .hero-content h2 {
     letter-spacing: 3px;
    font-size: 4rem;
    font-weight: bold;
    padding: 15px;
 }

 .hero-content p {
    font-size: 1rem;
    font-weight: 500;
    line-height: 28px;
    color: #727272;
    margin-bottom: 1rem;
 }
 .hero-image img {
    width: 100%;
 }


 /* responsive  */
 @media screen and (max-width:576px) {
    .navbar {
        flex-direction: column;
        text-align: center;
    }
    .navbar ul {
        display: grid;
        grid-template-columns: repeat( 1fr);
    }
    .hero-section {
        padding: 15px;
    }
    .hero-content {
        padding-top: 20px;
    }

    .hero-content h2{
        font-size: 3.1rem;
        padding:0px;
        text-align: center;
        margin-bottom: 20px;
    }
 }