 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body {

    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
 }

 .container {
    max-width: 1440px;
    margin: 0 auto;
 }

 /* header section */

 .header-section {
    background-color: #FFF4E7;
 }
 .navbar {
    display:flex;
    gap: 20px;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
 }

 .navbar ul {
    text-align: center;
 
 }

 .navbar li  {
    list-style: none;
    display: inline;
    margin: 20px;

 }
 .navbar li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: #424242;
 }

 .navbar h1 {
    font-size: 2.8rem;
    font-weight: bold;
    color: #131313;
 }