 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body {

    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
 }

 .container {
    max-width: 1440px;
    margin: 0 auto;
 }

 .primary-btn {
    background-color: #FF900E;
    padding: 20px 15px;
    border-radius: 8px;
    border: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: #FFFFFF;
    text-decoration: none;
 }
  
 /* header section */

 .header-section {
    background-color: #FFF4E7;
 }
 .navbar {
    display:flex;
    gap: 20px;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
 }

 .navbar ul {
    text-align: center;
 
 }

 .navbar li  {
    list-style: none;
    display: inline;
    margin: 20px;

 }
 .navbar li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: #424242;
 }

 .navbar h1 {
    font-size: 2.8rem;
    font-weight: bold;
    color: #131313;
 }

 /* hero-section */
 .hero-section {
    padding: 50px 0px;
    background-color: #FFF4E7;
 }
 .hero-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 60px 0px;
 }
 .hero-content h2 {
     letter-spacing: 3px;
    font-size: 4rem;
    font-weight: bold;
    padding: 15px;
 }

 .hero-content p {
    font-size: 1rem;
    font-weight: 500;
    line-height: 28px;
    color: #727272;
    margin-bottom: 1rem;
 }
 .hero-image img {
    width: 100%;
 }

 /* features section */
 .features-section {
    padding: 70px 20px;
 }
 .features-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
 }

.features-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.features-image img {
    width: 100%;
}
.features-content {
    padding-left: 50px;
    max-width: 570px;
     
}
.features-content h2 {
    font-size: 3rem;
    font-weight: bold;
    padding: 15px 0px 20px 0px;
}

#gray-color {
    color:#727272;
}
#orange-color {
    color: #FF900E;
}

.features-content p {
    font-size: 1rem;
    font-weight: 500;
    line-height: 26px;
    color: #727272;
    margin-bottom: 40px;
}


/* experience-section */
.experience-section {
    padding: 80px 20px;
}

.experience-container {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}
.experience-image {
    max-width: 700px;
}
.experience-image img {
    width: 100%;
}
.experience-content {
    max-width: 600px;

}

.experience-title {
    font-size: 3rem;
    font-weight: bold;
    color: #131313;
    max-width: 450px;
    border-left: 5px solid #FF900E;
    padding: 10px ;
    margin-bottom: 20px;
}
.experience-description {
    font-size: 1rem;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 30px;
}
.experience-items {
    background-color: #FFFFFF;
    padding: 20px 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 8px;
    margin-bottom: 20px;
}
.experience-items:hover {
    transform: translateY(-3px);
}

.experience-items h3{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 12px;
}
.experience-items p {
    color: #727272;
    font-size: 1rem;
    line-height: 26px;
}

 /* responsive mobile */
 @media screen and (max-width:576px) {
    .navbar, 
    .features-wrapper{
        flex-direction: column;
        text-align: center;
    }
    .navbar ul, 
    .features-image, 
    .experience-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .hero-section {
        padding: 15px;
    }
    .hero-content {
        padding-top: 20px;
    }

    .hero-content h2{
        font-size: 3.1rem;
        padding:0px;
        text-align: center;
        margin-bottom: 20px;
    }
    .features-content {
        padding: 10px;
        text-align: center;
    }

 }

 /* responsive  tablet*/

 @media screen and (min-width:576px) and (max-width:768px) {
    .navbar {
        flex-direction: column;
        text-align: center;
    }
    .header-section, 
    .features-wrapper, 
    .experience-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .hero-content {
        padding-top:10px ;
    }
        .hero-content h2{
        font-size: 3.1rem;
        padding:10px;
        text-align: center;
        margin-bottom: 20px;
    }
    .features-content {
        text-align: center;
        padding: 20px;
    }
 }